@charset "UTF-8";

/* Estilo para impressora */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Esse Artigo foi impresso atraves do curso em video';
}